fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
httpx
openai>=1.14.0
alibabacloud_dysmsapi20170525>=3.0.0
alibabacloud_tea_openapi>=0.3.8
